<span class="breadcrumb">
  <span class="full hidden sm:inline">
    <LinkTo class="underline" @route="files">home</LinkTo>

    {{#each this.parts as |part|}}
      <span class="separator">/</span>
      <LinkTo class="underline" @route="file" @model={{part.path}}>{{part.name}}</LinkTo>
    {{/each}}

    /
  </span>

  <span class="parent-only inline sm:hidden">
    {{#if this.isHome}}
      <LinkTo class="underline" @route="files">home</LinkTo>
    {{else}}
      {{#if (eq this.parentPath "")}}
        <LinkTo class="underline" @route="files">...</LinkTo>
      {{else}}
        <LinkTo class="underline" @route="file" @model={{this.parentPath}}>...</LinkTo>
      {{/if}}
    {{/if}}

    /
  </span>
</span>
