<div class="full">
  <LinkTo @route="files">home</LinkTo>

  {{#each this.parts as |part|}}
    <span class="separator">/</span>
    <LinkTo @route="file" @model={{part.path}}>{{part.name}}</LinkTo>
  {{/each}}

  /
</div>

<div class="parent-only">
  {{#if this.isHome}}
    <LinkTo @route="files">home</LinkTo>
  {{else}}
    {{#if (eq this.parentPath "")}}
      <LinkTo @route="files">...</LinkTo>
    {{else}}
      <LinkTo @route="file" @model={{this.parentPath}}>...</LinkTo>
    {{/if}}
  {{/if}}

  /
</div>
