<div class="modal-title flex">
  <h2 class="text-lg font-bold">Delete Files</h2>
  <span class="flex-1"></span>
  <button type="button" {{on "click" @onClose}}>
    <Icon @icon="close"/>
  </button>
</div>

<div class="py-4">
  {{yield}}
</div>

<form {{on "submit" this.onDelete}}>
  <div class="form-actions flex">
    <span class="flex-1"></span>
    <button type="button" class="pr-4" {{on "click" @onClose}}>Cancel</button>
    <button type="submit" class="button-danger" disabled={{false}}>
      Delete
    </button>
  </div>
</form>
