<DavrosUploader @fullscreen={{true}} @name="content" as |dropzone queue|>
  {{#if dropzone.active}}
    <div id="dropzone-overlay" class="absolute inset-0 flex justify-center items-center bg-opacity-50 bg-black text-white">
      <div class="message p-8 bg-black bg-opacity-75 rounded-sm border-2 border-green-500 shadow">
        <Icon @icon="add_circle" class="align-top" />
        Drop files or directories to add them to
        <PathBreadcrumb @path={{this.model.path}} />
      </div>
    </div>
  {{/if}}

  {{#if queue.size}}
    <div class="upload-progress absolute w-full inset-x-0 top-0">
      <ProgressBar @value={{queue.progress}} />
    </div>
  {{/if}}

  <FileUpload @name="content" @multiple={{true}} @onfileadd={{route-action "upload"}} @class="upload-placeholder">
  </FileUpload>
</DavrosUploader>

<PhotoSwipe @shareEl={{false}} @items={{this.directoryGalleryItems}} as |photoswipe|>
  <TitleBar>
    <h1 class="title text-white text-lg flex-1">
      Files in
      <PathBreadcrumb @path={{this.model.path}} />

      {{#if this.model.name}}
        {{this.model.name}} /
      {{/if}}
    </h1>

    <div class="actions hidden sm:block">
      {{#if this.canEdit}}
        <HeaderItem @title="Upload" @icon="file_upload" @onClick={{this.chooseUpload}} />
        <HeaderItem @title="New directory" @icon="add_circle_outline" @onClick={{toggle this "newDialogActive"}} />
      {{/if}}

      {{#if this.directoryGalleryItems.length}}
        <HeaderItem @title="Slideshow" @icon="photo" @onClick={{photoswipe.actions.open}} />
      {{/if}}

      <HeaderItem @title="Download (zip)" @icon="file_download" @onClick={{this.downloadDirectory}} />

      {{#if this.canEdit}}
        <HeaderItem
          @title="Delete {{if this.isRoot "Everything" "Directory"}}"
          @icon="delete"
          @onClick={{toggle this "deleteDialogActive"}} />
      {{/if}}
    </div>

    {{!-- only displayed on mobile --}}
    <div class="compact-actions block sm:hidden">
      <div class="more relative">
        <BasicDropdown @verticalPosition="below" @horizontalPosition="right" @width={{4}}  as |menu|>
          <menu.Trigger>
            <button type="button" class="more-button px-2 mt-1">
              <Icon @icon="menu" ariaLabel="Menu"/>
            </button>
          </menu.Trigger>

          <menu.Content @animationEnabled={{false}} class="rounded-md bg-white shadow">
            <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu" {{on "click" menu.actions.close}}>
              {{#if this.canEdit}}
                <MenuItem {{on "click" (fn this.chooseUpload)}} @id="menu-upload-file">
                  <p class="label flex-1">Upload</p>
                  <Icon @icon="file_upload" />
                </MenuItem>

                <MenuItem {{on "click" (toggle this "newDialogActive")}}>
                  <p class="label flex-1">New Directory</p>
                  <Icon @icon="add_circle_outline" />
                </MenuItem>
              {{/if}}

              <MenuItem {{on  "click" photoswipe.actions.open}}>
                <p class="label flex-1">View Slideshow</p>
                <Icon @icon="photo" />
              </MenuItem>

              <MenuItem {{on "click" this.downloadDirectory}} @id="menu-download-directory">
                <p class="label flex-1">Download (zip)</p>
                <Icon @icon="file_download" />
              </MenuItem>

              {{#if this.canEdit}}
                <MenuItem @class="danger" {{on "click" (toggle this "deleteDialogActive")}}>
                  <p class="label flex-1">Delete Directory</p>
                  <Icon @icon="delete" />
                </MenuItem>
              {{/if}}
            </div>
          </menu.Content>
        </BasicDropdown>
      </div>
    </div>
  </TitleBar>
</PhotoSwipe>

{{#if this.model.sortedFiles}}
  <table class="file-list w-full {{if this.showExtraFields "" "noExtraFields"}}">
    <thead>
      <tr class="text-left text-sm sm:text-md">
        <th class="name py-2 pl-6">Name</th>
        {{#if this.showExtraFields}}
        <th class="updated py-2">
          <a href="#" {{on "click" (toggle this "showExtraFields")}}>
            <span class="short block sm:hidden">
              Updated
            </span>
            <span class="long hidden sm:block">
              Updated
            </span>
          </a>
        </th>
        <th class="size py-2 pr-4 text-right">
          <a href="#" {{on "click" (toggle this "showExtraFields")}}>
            <span class="short block sm:hidden">
              Size
            </span>
            <span class="long hidden sm:block">
              Size
            </span>
          </a>
        </th>
        {{else}}
        <th class="fields pr-4 text-right">
          <a href="#" {{on "click" (toggle this "showExtraFields")}}>
            <Icon @icon="chevron_left" />
          </a>
        </th>
        {{/if}}
      </tr>
    </thead>

    <tbody>
      {{#each this.model.sortedFiles as |file|}}
        <tr class="text-sm md:text-base">
          <td class="p-2 md:py-3" colspan={{if this.showExtraFields '1' '3'}}>
            <LinkTo @route="file" @model={{file.linkedPath}} class="filename p-2 table table-fixed w-full">
              {{#if file.isDirectory}}
                <Icon @icon="folder" class="mr-3 ml-4 float-left text-gray-700" />
              {{else}}
                {{#if (eq file.type "image")}}
                  <ImageThumbnail class="mr-3 ml-4 h-full float-left" @original={{file.rawPath}} @timestamp={{file.mtime}} @width={{24}} @height={{24}} @op="fit" />
                {{else}}
                  <Icon @icon={{file.typeIcon}} class="mr-3 ml-4 float-left" />
                {{/if}}
              {{/if}}

              <div class="truncate">{{file.name}}</div>
            </LinkTo>
          </td>

          {{#if this.showExtraFields}}
            <td class="updated p-2" title={{file.mtime}}>
              <span class="short truncate block sm:hidden">
                {{#if this.model.lotsOfFiles}}
                  {{moment-from-now file.mtime locale="en-short" hideAffix=true}}
                {{else}}
                  {{moment-from-now file.mtime locale="en-short" interval=5000 hideAffix=true}}
                {{/if}}
              </span>

              <span class="long truncate hidden sm:block">
                {{#if this.model.lotsOfFiles}}
                  {{moment-from-now file.mtime locale="en"}}
                {{else}}
                  {{moment-from-now file.mtime locale="en" interval=5000}}
                {{/if}}
              </span>
            </td>

            <td class="size p-2 pr-4 text-right" title="{{commify file.size}} bytes">
              <span class="short block sm:hidden">
                {{filesize file.size}}
              </span>
              <span class="long hidden sm:block">
                {{filesize file.size}}
              </span>
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="empty-notice p-6">
    This directory is empty. You can <a href="#" {{on "click" (fn this.chooseUpload)}}>upload some files</a> or just drag them in.
  </div>
{{/if}}

<ModalContent class="rounded-sm shadow-sm border"
              @active={{this.newDialogActive}}
                     @onClose={{fn (mut this.newDialogActive) false}}
              as |modalContent|>
  <NewDirectoryDialog @onCreate={{route-action "newDirectory"}} @onClose={{modalContent.onClose}} />
</ModalContent>

<ModalContent class="rounded-sm shadow-sm border"
              @active={{this.deleteDialogActive}}
                     @onClose={{fn (mut this.deleteDialogActive) false}}
              as |modalContent|>
  <DeleteDialog @onDelete={{route-action "delete"}} @onClose={{modalContent.onClose}}>
    Are you sure you want to delete
    {{#if this.isRoot}}
      <b>absolutely everything</b>
      {{~else~}}
      this directory
      {{~/if~}}?
      It will also be deleted from any synced clients.
  </DeleteDialog>
</ModalContent>
