<PhotoSwipe @shareEl={{false}} @items={{this.directoryGalleryItems}} as |photoswipe|>
  <TitleBar>
    <h1 class="title text-white text-lg flex-1 truncate">
      Files in
      <PathBreadcrumb @path={{this.model.path}} />

      {{#if this.model.name}}
        {{this.model.name}} /
      {{/if}}
    </h1>

    <div class="actions hidden sm:block">
      {{#if this.canEdit}}
        <HeaderItem @title="Upload" @icon="file_upload" @onClick={{this.chooseUpload}} />
        <HeaderItem @title="New directory" @icon="add_circle_outline" @onClick={{toggle this "newDialogActive"}} />
      {{/if}}

      {{#if this.directoryGalleryItems.length}}
        <HeaderItem @title="Slideshow" @icon="photo" @onClick={{photoswipe.actions.open}} />
      {{/if}}

      <HeaderItem @title="Download (zip)" @icon="file_download" @onClick={{this.downloadDirectory}} />
    </div>
    <div class="reload" {{on "click" this.reload}}></div>

    {{!-- only displayed on mobile --}}
    <div class="compact-actions block sm:hidden">
      <div class="more relative">
        <BasicDropdown @verticalPosition="below" @horizontalPosition="right" @width={{6}}  as |menu|>
          <menu.Trigger>
            <button type="button" class="more-button px-2 mt-1">
              <Icon @icon="menu" ariaLabel="Menu"/>
            </button>
          </menu.Trigger>

          <menu.Content @animationEnabled={{false}} class="rounded-md bg-white shadow">
            <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu" {{on "click" menu.actions.close}}>
              {{#if this.canEdit}}
                <MenuItem {{on "click" this.toggleSelectCheckboxes}}>
                  <p class="label flex-1 pr-4">Select Files</p>
                  <Icon @icon="check_circle" />
                </MenuItem>

                <MenuItem {{on "click" this.chooseUpload}} @id="menu-upload-file">
                  <p class="label flex-1 pr-4">Upload</p>
                  <Icon @icon="file_upload" />
                </MenuItem>

                <MenuItem {{on "click" (toggle this "newDialogActive")}}>
                  <p class="label flex-1 pr-4">New Directory</p>
                  <Icon @icon="add_circle_outline" />
                </MenuItem>
              {{/if}}

              <MenuItem {{on  "click" photoswipe.actions.open}}>
                <p class="label flex-1 pr-4">View Slideshow</p>
                <Icon @icon="photo" />
              </MenuItem>

              <MenuItem {{on "click" this.downloadDirectory}} @id="menu-download-directory">
                <p class="label flex-1 pr-4">Download (zip)</p>
                <Icon @icon="file_download" />
              </MenuItem>
            </div>
          </menu.Content>
        </BasicDropdown>
      </div>
    </div>
  </TitleBar>
</PhotoSwipe>

{{#if this.model.sortedFiles}}
  <DirectoryListing
    @model={{@model}}
    @canSelect={{true}}
    @isSelecting={{this.isSelecting}}
    @canEdit={{this.canEdit}}
    @selectedFiles={{this.selectedFiles}}
    @openDialog={{this.openDialog}}
  />
{{else}}
  <div class="empty-notice p-6">
    This directory is empty. You can <a href="#" {{on "click" this.chooseUpload}}>upload some files</a> or just drag them in.
  </div>
{{/if}}

<ModalContent class="rounded-sm shadow-sm border inset-6 fixed md:max-w-full"
  @active={{this.moveDialogActive}}
  @onClose={{fn (mut this.moveDialogActive) false}}
  as |modalContent|>
  <MoveFilesDialog
    @model={{@model}}
    @selectedFiles={{this.selectedFiles}}
    @onClose={{modalContent.onClose}}
    @onFinish={{this.finishModal}}
  />
</ModalContent>


<ModalContent class="rounded-sm shadow-sm border w-11/12"
              @active={{this.newDialogActive}}
              @onClose={{fn (mut this.newDialogActive) false}}
              as |modalContent|>
  <NewDirectoryDialog @onCreate={{@newDirectory}} @onClose={{modalContent.onClose}} />
</ModalContent>

<ModalContent class="rounded-sm shadow-sm border w-11/12"
  @active={{this.deleteDialogActive}}
  @onClose={{fn (mut this.deleteDialogActive) false}}
  as |modalContent|>
  <DeleteDialog
    @model={{@model}}
    @selectedFiles={{this.selectedFiles}}
    @onFinish={{this.finishModal}}
    @onClose={{modalContent.onClose}}
  >
    <div class="max-h-60 border border-gray-500 p-4 text-sm overflow-auto mb-2">
      {{#each this.selectedFileList as |name|}}
        <div>{{name}}</div>
      {{/each}}
    </div>

    Are you sure you want to delete
    {{#if (gt this.selectedFiles.size 1)}}
      {{this.selectedFiles.size}} files?
    {{else}}
      this file?
    {{/if}}

    {{if (gt this.selectedFiles.size 1) "They" "It"}}
    will also be deleted from any synced clients.
  </DeleteDialog>
</ModalContent>

<ModalContent class="rounded-sm shadow-sm border w-11/12"
  @active={{this.renameDialogActive}}
  @onClose={{fn (mut this.renameDialogActive) false}}
  as |modalContent|>
  <RenameDialog
    @model={{@model}}
    @onFinish={{this.finishModal}}
    @onClose={{modalContent.onClose}}
    @selectedFiles={{this.selectedFiles}}
  />
</ModalContent>
