<TitleBar>
  <h1 class="title text-white text-lg flex-1 truncate" title="Viewing {{this.model.name}}">
    Viewing
    <PathBreadcrumb @path={{this.model.path}} />
    {{this.model.name}}
  </h1>

  <div class="actions hidden sm:block">
    {{#if this.canEdit}}
      <HeaderItem
        @title="Delete File"
        @icon="delete"
        @onClick={{toggle this "deleteDialogActive"}} />
    {{/if}}
  </div>

  {{!-- Only displayed on mobile --}}
  <div class="compact-actions block sm:hidden">
    <div class="more relative">
      <BasicDropdown @verticalPosition="below" @horizontalPosition="right" @width={{4}}  as |menu|>
        <menu.Trigger>
          <button type="button" class="more-button px-2 mt-1">
            <Icon @icon="menu" ariaLabel="Menu"/>
          </button>
        </menu.Trigger>

        <menu.Content @animationEnabled={{false}} class="rounded-md bg-white shadow">
          <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu" {{on "click" menu.actions.close}}>
            {{#if this.canEdit}}
              <MenuItem {{on "click" (toggle this "deleteDialogActive")}} @id="menu-upload-file">
                <p class="label flex-1 mr-2">Delete</p>
                <Icon @icon="delete" />
              </MenuItem>
            {{else}}
              <MenuItem {{on "click" this.chooseUpload}} @id="menu-upload-file">
                <p class="label flex-1">Read-only mode</p>
              </MenuItem>
            {{/if}}
          </div>
        </menu.Content>
      </BasicDropdown>
    </div>
  </div>
</TitleBar>

<div class="file file-{{this.model.type}} flex-1 flex flex-col">
  <div class="meta p-4">
    <div class="filename text-lg font-bold leading-tight pb-2">

      <a href={{this.model.rawPath}}>
        {{this.model.name}}
      </a>
    </div>

    <div class="fsinfo text-sm flex">
      <div class="flex-1 mr-2">
        <span title={{this.model.mtime}} class="updated">
          Updated {{relative-time this.model.mtime locale="en" interval=5000 addSuffix=true}}
        </span>
        &middot;
        <span title="{{commify this.model.size}} bytes" class="size">
          {{filesize this.model.size}}
        </span>
      </div>

      <div>
        <a class="underline" href={{this.model.rawPath}} target="_blank" rel="noopener noreferrer">
          Download Original
        </a>

        {{#if this.publicUrl}}
          &middot;
          <a class="underline" href={{this.publicUrl}} target="_blank" rel="noopener noreferrer">
            Public URL
          </a>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="preview flex-1 relative overflow-auto">
    {{component this.model.typeComponent model=this.model}}
  </div>
</div>

<ModalContent class="rounded-sm shadow-sm border w-11/12"
              @active={{this.deleteDialogActive}}
              @onClose={{fn (mut this.deleteDialogActive) false}}
              as |modalContent|>
  <DeleteDialog @onClose={{modalContent.onClose}} @onDelete={{this.onDelete}}>
    Are you sure you want to delete the file {{@model.name}}? It will also be deleted from any synced clients.
  </DeleteDialog>
</ModalContent>
