<div class="flex flex-col h-full">
  <div class="modal-title flex">
    <h2 class="text-lg font-bold truncate">Moving {{this.selectedFilesDescription}}</h2>
    <span class="flex-1"></span>
    <button type="button" {{on "click" @onClose}}>
      <Icon @icon="close"/>
    </button>
  </div>

  <div class="flex-1">
    {{#if this.progressPercent}}
      <div class="h-full flex flex-col justify-center">
        <ProgressBar value={{this.progressPercent}} />
        {{this.progressCount}} / {{this.selectedFiles.size}} files moved
      </div>
    {{else}}
      <Picker
        @initialPath={{""}}
        @selectedFiles={{this.selectedFiles}}
        @onSelected={{this.moveSelectedFiles}}
        @directoriesOnly={{true}}
      />
    {{/if}}
  </div>
</div>
