<span class="breadcrumb">
  <span class="full hidden sm:inline">
    <a href={{href-to "files"}} class="underline" {{on "click" (fn (or @onClick this.k) "")}}>home</a>

    {{#each this.parts as |part|}}
      <span class="separator">/</span>
      <a href={{href-to "file" part.path}} class="underline" {{on "click" (fn (or @onClick this.k) part.path)}}>{{part.name}}</a>
    {{/each}}

    /
  </span>

  <span class="parent-only inline sm:hidden">
    {{#if this.isHome}}
      <a href={{href-to "files"}} class="underline" {{on "click" (fn (or @onClick this.k) "")}}>home</a>
    {{else}}
      {{#if (eq this.parentPath "")}}
        <a href={{href-to "files"}} class="underline" {{on "click" (fn (or @onClick this.k) "")}}>...</a>
      {{else}}
        <a href={{href-to "file" this.parentPath}} class="underline" {{on "click" (fn (or @onClick this.k) this.parentPath)}}>...</a>
      {{/if}}
    {{/if}}

    /
  </span>
</span>
