<div layout="row" class="file-component default-component">
  <div class="meta">
    <div class="filename">
      <a href="{{model.rawPath}}">
        {{model.name}}
      </a>
    </div>

    <div title="{{model.mtime}}" class="fsinfo">
      <span class="updated">Updated {{moment-from-now model.mtime interval=5000}}</span>
      &middot;
      <span class="size">{{filesize model.size}}</span>
    </div>

    <form action="{{model.rawPath}}" method="GET">
      <button class="download ember-view md-primary md-raised md-default-theme md-button">
        <span disabled="false">
          {{paper-icon icon="cloud-download" raised=true}} Download Original
        </span>
      </button>
    </form>
  </div>

  <div class="preview">
    <div class="no-preview">
      No preview
    </div>
  </div>
</div>
