{{#if @active}}
  <PaperDialog @fullscreen={{true}} @origin=".actions">
    <PaperToolbar>
      <div class="md-toolbar-tools">
        <h2>Delete Directory</h2>
        <span class="flex"></span>
        <PaperButton @iconButton={{true}} {{on "click" @onClose}}><PaperIcon @icon="close"/></PaperButton>
      </div>
    </PaperToolbar>

    <PaperDialogContent>
      {{yield}}
    </PaperDialogContent>

    <PaperDialogActions class="layout-row">
      <span class="flex"></span>
      <PaperButton @primary={{true}} {{on "click" @onClose}}>Cancel</PaperButton>
      <PaperButton @primary={{true}} {{on "click" this.onDelete}}>Delete</PaperButton>
    </PaperDialogActions>
  </PaperDialog>
{{/if}}
