{{#pl-uploader onfileadd="uploadFile" for="upload-file" for-dropzone="content" as |queue dropzone|}}
  {{#if queue.length}}
    <div class="upload-progress">
      {{paper-progress-linear warn=true value=queue.progress}}
    </div>
  {{/if}}

  {{partial 'file-upload'}}
{{/pl-uploader}}

{{#paper-nav-container open=drawerOpen classNames="ember-app"}}

  {{#paper-sidenav classNames="md-sidenav-left md-whiteframe-z2" flex-layout="column" flex=true locked-open="gt-sm"}}

    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <div class="logo">
          <strong>{{paper-icon icon="adjust"}} Davros File Storage</strong>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      {{#paper-list}}
        {{#paper-item action="transitionTo" param="files"}}
          {{paper-icon icon="folder"}}
          Files
        {{/paper-item}}

        {{#if canSync}}
          {{#paper-item action="transitionTo" param="clients"}}
            {{paper-icon icon="desktop-mac"}}
            Clients
          {{/paper-item}}
        {{/if}}

        {{#if canEdit}}
          {{#paper-item action="transitionTo" param="publishing"}}
            {{paper-icon icon="web"}}
            Publishing
          {{/paper-item}}
        {{/if}}
      {{/paper-list}}
    {{/paper-content}}

  {{/paper-sidenav}}

  {{#paper-content flex-layout="column" flex=true id="content"}}
    {{outlet}}
  {{/paper-content}}

{{/paper-nav-container}}
