<DavrosUploader @fullscreen={{true}} @name="content" as |dropzone queue|>
  {{#if dropzone.active}}
    <div id="dropzone-overlay">
      <div class="message">
        {{paper-icon "add-circle"}}
        Drop files or directories to add them to
        <PathBreadcrumb @path={{this.model.path}} />
      </div>
    </div>
  {{/if}}

  {{#if queue.length}}
    <div class="upload-progress">
      <PaperProgressLinear @warn={{true}} @value={{queue.progress}} />
    </div>
  {{/if}}

  <FileUpload @name="content" @multiple={{true}} @onfileadd={{route-action "upload"}} @class="upload-placeholder">
  </FileUpload>
</DavrosUploader>

<TitleBar>
  <div class="title">
    Files in
    <PathBreadcrumb @path={{this.model.path}} />

    {{#if this.model.name}}
      {{this.model.name}} /
    {{/if}}
  </div>

  <PhotoSwipe @shareEl={{false}} @items={{this.directoryGalleryItems}} as |photoswipe|>
    <div class="actions">
      {{#if this.canEdit}}
        <PaperButton @class="icon-button new-directory-button" @onClick={{fn this.chooseUpload}}>
          {{paper-icon "file-upload" aria-label="Upload"}}

          <EmberTooltip>
            Upload
          </EmberTooltip>
        </PaperButton>

        <PaperButton @class="icon-button" @onClick={{fn (mut this.newDialogActive) true}}>
          {{paper-icon "add-circle-outline" aria-label="New directory"}}

          <EmberTooltip>
            New Directory
          </EmberTooltip>

        </PaperButton>
      {{/if}}

      {{#if this.directoryGalleryItems.length}}
        <PaperButton @class="icon-button" @onClick={{photoswipe.actions.open}}>
          {{paper-icon "photo" aria-label="Slideshow"}}

          <EmberTooltip>
            Slideshow
          </EmberTooltip>
        </PaperButton>
      {{/if}}

      <PaperButton @class="icon-button" @onClick="downloadDirectory">
        {{paper-icon "file-download" aria-label="Download directory as zip"}}

        <EmberTooltip>
          Download (zip)
        </EmberTooltip>
      </PaperButton>

      {{#if this.canEdit}}
        <PaperButton @class="icon-button delete-button" @onClick={{fn (mut this.deleteDialogActive) true}}>
          {{paper-icon "delete" aria-label="Delete"}}

          <EmberTooltip>
            {{#if this.isRoot}}
              Delete Everything
            {{else}}
              Delete Directory
            {{/if}}
          </EmberTooltip>
        </PaperButton>
      {{/if}}
    </div>
  </PhotoSwipe>

  {{!-- only displayed on mobile --}}
  <div class="compact-actions">
    <div class="more">
      <PaperMenu @position="target-right target" @width={{4}} as |menu|>
        <menu.trigger>
          <PaperButton @class="more-button" @iconButton={{true}}>
            {{paper-icon "more-vert" class="md-menu-origin" aria-label="Menu"}}
          </PaperButton>
        </menu.trigger>

        <menu.content>
          {{#if this.canEdit}}
            <PaperMenuItem @onClick={{fn this.chooseUpload}} @id="menu-upload-file">
              <p class="label">Upload</p>
              {{paper-icon "file-upload" class="md-menu-align-target"}}
            </PaperMenuItem>

            <PaperMenuItem @onClick={{fn (mut this.newDialogActive) true}}>
              <p class="label">New Directory</p>
              {{paper-icon "add-circle-outline" class="md-menu-align-target"}}
            </PaperMenuItem>
          {{/if}}

          <PaperMenuItem @onClick={{fn (mut this.galleryEnabled) true}}>
            <p class="label">View Slideshow</p>
            {{paper-icon "photo" class="md-menu-align-target"}}
          </PaperMenuItem>

          <PaperMenuItem @onClick="downloadDirectory" @id="menu-download-directory">
            <p class="label">Download (zip)</p>
            {{paper-icon "file-download" class="md-menu-align-target"}}
          </PaperMenuItem>

          {{#if this.canEdit}}
            <PaperMenuItem @class="danger" @onClick={{fn (mut this.deleteDialogActive) true}}>
              <p class="label">Delete Directory</p>
              {{paper-icon "delete" class="md-menu-align-target"}}
            </PaperMenuItem>
          {{/if}}
        </menu.content>
      </PaperMenu>
    </div>
  </div>

  <NewDirectoryDialog @active={{this.newDialogActive}} @onCreate={{route-action "newDirectory"}} @onClose={{fn (mut this.newDialogActive) false}} />

  <DeleteDialog @active={{this.deleteDialogActive}} @onDelete={{route-action "delete"}} @onClose={{fn (mut this.deleteDialogActive) false }}>
    Are you sure you want to delete
    {{#if this.isRoot}}
      <b>absolutely everything</b>
      {{~else~}}
      this directory
      {{~/if~}}?
      It will also be deleted from any synced clients.
  </DeleteDialog>
</TitleBar>

{{#if this.model.sortedFiles}}
  <table class="file-list {{if this.showExtraFields "" "noExtraFields"}}">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="updated"><a href="#" {{on "click" (toggle this "showExtraFields")}}>Updated</a></th>
        <th class="size"><a href="#" {{on "click" (toggle this "showExtraFields")}}>Size</a></th>
      </tr>
    </thead>

    <tbody>
      {{#each this.model.sortedFiles as |file|}}
        <tr>
          <LinkTo @route="file" @model={{file.linkedPath}} class="name" @tagName="td">
            <div class="filename">
              {{#if file.isDirectory}}
                <md-icon class="paper-icon md-font material-icons md-default-theme">folder</md-icon>
              {{else}}
                {{#if (eq file.type "image")}}
                  <ImageThumbnail @original={{file.rawPath}} @timestamp={{file.mtime}} @width={{24}} @height={{24}} @op="fit" />
                {{else}}
                  <md-icon aria-label="type {{file.type}}" class="paper-icon md-font material-icons md-default-theme">{{-paper-underscore file.typeIcon}}</md-icon>
                {{/if}}
              {{/if}}

              <div class="truncated">{{file.name}}</div>
            </div>
          </LinkTo>

          {{#if this.showExtraFields}}
            <td class="updated" title={{file.mtime}}>
              <span class="short">
                {{#if this.model.lotsOfFiles}}
                  {{moment-from-now file.mtime locale="en-short" hideAffix=true}}
                {{else}}
                  {{moment-from-now file.mtime locale="en-short" interval=5000 hideAffix=true}}
                {{/if}}
              </span>

              <span class="long">
                {{#if this.model.lotsOfFiles}}
                  {{moment-from-now file.mtime locale="en"}}
                {{else}}
                  {{moment-from-now file.mtime locale="en" interval=5000}}
                {{/if}}
              </span>
            </td>

            <td class="size" title="{{commify file.size}} bytes">
              {{filesize file.size}}
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="empty-notice">
    This directory is empty. You can <a href="#" {{on "click" (fn this.chooseUpload)}}>upload some files</a> or just drag them in.
  </div>
{{/if}}
