{{#pl-uploader onfileadd="uploadFile" for="upload-file" for-dropzone="content" as |queue dropzone|}}
  {{#if queue.length}}
    <div class="upload-progress">
      {{paper-progress-linear warn=true value=queue.progress}}
    </div>
  {{/if}}

  {{partial 'file-upload'}}
{{/pl-uploader}}

{{#title-bar}}
  Files in
  {{path-breadcrumb path=model.path}}

  {{#if model.name}}
    {{model.name}} /
  {{/if}}
{{/title-bar}}

<table class="file-list">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th class="updated">Updated</th>
      <th class="size">Size</th>
    </tr>
  </thead>

  <tbody>
    {{#each model.sortedFiles as |file|}}
      <tr>
        {{#link-to 'file' file.linkedPath class="name" tagName="td"}}
          <div class="filename">
            {{#if file.isDirectory}}
              {{paper-icon icon="folder"}}
            {{else}}
              {{paper-icon icon=file.typeIcon}}
            {{/if}}

            <div class="truncated">{{file.name}}</div>
          </div>
        {{/link-to}}

        <td class="updated" title="{{file.mtime}}">
          <span class="short">
            {{moment-from-now file.mtime interval=5000 hideSuffix=true}}
          </span>

          <span class="long">
            {{moment-from-now file.mtime interval=5000}}
          </span>
        </td>

        <td class="size">
          {{filesize file.size}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="directory-actions">
  <div class="right">
    {{#if canEdit}}
      {{#paper-button action="newDirectory"}}{{paper-icon icon="add-circle-outline"}} New Directory{{/paper-button}}
    {{/if}}
  </div>

  {{#if canEdit}}
    {{#paper-button action="delete" warn=true}}{{paper-icon icon="delete"}} Delete Directory{{/paper-button}}
  {{/if}}
</div>
