{{#with (file-queue multiple=true for="content" accept="*/*" onfileadd=(route-action "upload")) as |queue|}}
  {{#with (file-dropzone for="dropzone-overlay" queue=queue fullscreen=true) as |dropzone|}}
    {{#if dropzone.active}}
      <div id="dropzone-overlay">
        <div class="message">
          {{paper-icon "add-circle"}}
          Drop files or directories to add them to
          {{path-breadcrumb path=model.path}}
        </div>
      </div>
    {{/if}}
  {{/with}}

  {{#if queue.length}}
    <div class="upload-progress">
      {{paper-progress-linear warn=true value=queue.progress}}
    </div>
  {{/if}}

  {{file-upload id="upload-placeholder" for="content" queue=queue}}
{{/with}}

{{#title-bar}}
  <div class="title">
    Files in
    {{path-breadcrumb path=model.path}}

    {{#if model.name}}
      {{model.name}} /
    {{/if}}
  </div>

  {{partial 'directory-menu'}}
{{/title-bar}}

<table class="file-list">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th class="updated">Updated</th>
      <th class="size">Size</th>
    </tr>
  </thead>

  <tbody>
    {{#each model.sortedFiles as |file|}}
      <tr>
        {{#link-to 'file' (unbound file.linkedPath) class="name" tagName="td"}}
          <div class="filename">
            {{#if file.isDirectory}}
              <md-icon class="paper-icon md-font material-icons md-default-theme">folder</md-icon>
            {{else}}
              <md-icon class="paper-icon md-font material-icons md-default-theme">{{-paper-underscore file.typeIcon}}</md-icon>
            {{/if}}

            <div class="truncated">{{file.name}}</div>
          </div>
        {{/link-to}}

        <td class="updated" title="{{file.mtime}}">
          <span class="short">
            {{#if model.lotsOfFiles}}
              {{moment-from-now file.mtime locale="en-short" hideSuffix=true}}
            {{else}}
              {{moment-from-now file.mtime locale="en-short" interval=5000 hideSuffix=true}}
            {{/if}}
          </span>

          <span class="long">
            {{#if model.lotsOfFiles}}
              {{moment-from-now file.mtime locale="en"}}
            {{else}}
              {{moment-from-now file.mtime locale="en" interval=5000}}
            {{/if}}
          </span>
        </td>

        <td class="size">
          {{filesize file.size}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{partial 'plugins/gallery'}}
