{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    Files in
    {{path-breadcrumb path=model.path}}
    /
    {{#if model.name}}
      {{model.name}} /
    {{/if}}
  </div>
{{/paper-toolbar}}

<table class="file-list">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th class="updated">Updated</th>
      <th class="size">Size</th>
    </tr>
  </thead>

  <tbody>
    {{#each model.sortedFiles as |file|}}
      <tr>
        {{#link-to 'file' file.linkedPath class="name" tagName="td"}}
          {{#if file.isDirectory}}
            {{paper-icon icon="folder"}}
          {{else}}
            {{paper-icon icon=file.typeIcon}}
          {{/if}}

          {{file.name}}
        {{/link-to}}

        <td class="updated" title="{{file.mtime}}">
          {{moment-from-now file.mtime interval=5000 hideSuffix=true}}
        </td>

        <td class="size">
          {{filesize file.size}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
