<div class="actions">
  {{#if canEdit}}
    <PaperButton @class="icon-button new-directory-button" @onClick="chooseUpload">
      {{paper-icon "file-upload" aria-label="Upload"}}

      <TooltipOnComponent>
        Upload
      </TooltipOnComponent>
    </PaperButton>

    <PaperButton @class="icon-button" @onClick={{action (mut newDialogActive true)}}>
      {{paper-icon "add-circle-outline" aria-label="New directory"}}

      <TooltipOnComponent>
        New Directory
      </TooltipOnComponent>

    </PaperButton>
  {{/if}}

  <PaperButton @class="icon-button" @onClick="slideshow">
    {{paper-icon "photo" aria-label="Slideshow"}}

    <TooltipOnComponent>
      Slideshow
    </TooltipOnComponent>
  </PaperButton>

  <PaperButton @class="icon-button" @onClick="downloadDirectory">
    {{paper-icon "file-download" aria-label="Download directory as zip"}}

    <TooltipOnComponent>
      Download (zip)
    </TooltipOnComponent>
  </PaperButton>

  {{#if canEdit}}
    <PaperButton @class="icon-button delete-button" @onClick={{action (mut deleteDialogActive true)}}>
      {{paper-icon "delete" aria-label="Delete"}}

      <TooltipOnComponent>
        {{#if isRoot}}
          Delete Everything
        {{else}}
          Delete Directory
        {{/if}}
      </TooltipOnComponent>
    </PaperButton>
  {{/if}}
</div>

{{!-- only displayed on mobile --}}
<div class="compact-actions">
  <div class="more">
    <PaperMenu @position="target-right target" @width={{4}} as |menu|>
      <menu.trigger>
        <PaperButton @class="more-button" @iconButton={{true}}>
          {{paper-icon "more-vert" class="md-menu-origin" aria-label="Menu"}}
        </PaperButton>
      </menu.trigger>

      <menu.content>
        {{#if canEdit}}
          <PaperMenuItem @onClick="chooseUpload" @id="menu-upload-file">
            <p class="label">Upload</p>
            {{paper-icon "file-upload" class="md-menu-align-target"}}
          </PaperMenuItem>

          <PaperMenuItem @onClick={{action (mut newDialogActive true)}}>
            <p class="label">New Directory</p>
            {{paper-icon "add-circle-outline" class="md-menu-align-target"}}
          </PaperMenuItem>
        {{/if}}

        <PaperMenuItem @onClick="slideshow">
          <p class="label">View Slideshow</p>
          {{paper-icon "photo" class="md-menu-align-target"}}
        </PaperMenuItem>

        <PaperMenuItem @onClick="downloadDirectory" @id="menu-download-directory">
          <p class="label">Download (zip)</p>
          {{paper-icon "file-download" class="md-menu-align-target"}}
        </PaperMenuItem>

        {{#if canEdit}}
          <PaperMenuItem @class="danger" @onClick={{action (mut deleteDialogActive true)}}>
            <p class="label">Delete Directory</p>
            {{paper-icon "delete" class="md-menu-align-target"}}
          </PaperMenuItem>
        {{/if}}
      </menu.content>
    </PaperMenu>
  </div>
</div>

<NewDirectoryDialog @active={{newDialogActive}} @onCreate={{route-action "newDirectory"}} />

<DeleteDialog @active={{deleteDialogActive}} @onDelete={{route-action "delete"}}>
  Are you sure you want to delete
  {{#if isRoot}}
    <b>absolutely everything</b>
  {{~else~}}
    this directory
  {{~/if~}}?
  It will also be deleted from any synced clients.
</DeleteDialog>
