{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    Viewing
    {{path-breadcrumb path=model.path}}
    / {{model.name}}
  </div>
{{/paper-toolbar}}

{{component model.typeComponent model=model class="file-display"}}

{{outlet}}

<div class="file-actions">
  {{#if canEdit}}
    {{#paper-button action="delete" warn=true}}{{paper-icon icon="delete"}} Delete{{/paper-button}}
  {{/if}}
</div>
