{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    Viewing
    {{path-breadcrumb path=model.path}}
    / {{model.name}}

    {{partial 'file-upload'}}
  </div>
{{/paper-toolbar}}

<div class="iframe-container">
  <iframe sandbox class="file-content" src="{{model.rawPath}}">
  </iframe>
</div>

{{outlet}}
