{{#if model.isDirectory}}
  Browsing {{model.path}}:

  <div class="file">
    {{#link-to 'file' model.parent}}
      ..
    {{/link-to}}
  </div>

  {{#each model.files as |file|}}
    <div class="file">
      {{#link-to 'file' file.path}}
        {{file.name}}
      {{/link-to}}
    </div>
  {{/each}}

{{else}}
  File {{model.path}}
{{/if}}

{{outlet}}
