{{#title-bar}}
  Viewing
  {{path-breadcrumb path=model.path}}
  {{model.name}}
{{/title-bar}}

{{component model.typeComponent model=model class="file-display"}}

{{outlet}}

<div class="file-actions">
  {{#if canEdit}}
    {{#paper-button action="delete" warn=true}}{{paper-icon icon="delete"}} Delete{{/paper-button}}
  {{/if}}
</div>
