<div class="actions">
  {{#if canEdit}}
    <PaperButton @class="icon-button delete-button" @onClick={{action (mut deleteDialogActive true)}}>
      {{paper-icon "delete"}}

      <TooltipOnComponent>
        Delete File
      </TooltipOnComponent>
    </PaperButton>
  {{/if}}
</div>

{{!-- Only displayed on mobile --}}
<div class="compact-actions">
  <div class="more">
    <PaperMenu @position="target-right target" as |menu|>
      <menu.trigger>
        <PaperButton @class="more-button" @icon-button={{true}}>
          {{paper-icon "more-vert" class="md-menu-origin"}}
        </PaperButton>
      </menu.trigger>

      <menu.content>
        {{#if canEdit}}
          <PaperMenuItem @class="danger" @onClick={{action (mut deleteDialogActive true)}}>
            <p class="label">Delete File</p>
            {{paper-icon "delete" class="md-menu-align-target"}}
          </PaperMenuItem>
        {{else}}
          <PaperMenuItem>
            <p class="label">Read-only mode</p>
          </PaperMenuItem>
        {{/if}}
      </menu.content>
    </PaperMenu>
  </div>
</div>

<DeleteDialog @active={{deleteDialogActive}} @onDelete={{route-action "delete"}}>
  Are you sure you want to delete the file {{model.name}}? It will also be deleted from any synced clients.
</DeleteDialog>
