{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    Viewing
    {{path-breadcrumb path=model.path}}
    / {{model.name}}

    {{partial 'file-upload'}}
  </div>
{{/paper-toolbar}}

{{component model.typeComponent model=model class="file-display"}}

{{outlet}}
