{{#title-bar}}
  <div class="title">
    Viewing
    {{path-breadcrumb path=model.path}}
    {{model.name}}
  </div>

  {{partial 'file-menu'}}
{{/title-bar}}

<div class="file file-{{model.type}}">
  <div class="meta">
    <div class="filename">
      {{paper-icon icon=model.typeIcon}}
      <a href="{{model.rawPath}}">
        {{model.name}}
      </a>
    </div>

    <div title="{{model.mtime}}" class="fsinfo">
      <span class="updated">Updated {{moment-from-now model.mtime locale="en" interval=5000}}</span>
      &middot;
      <span class="size">{{filesize model.size}}</span>
      &middot;
      <a href="{{model.rawPath}}" target="_blank">Download Original</a>
    </div>
  </div>

  {{component model.typeComponent model=model class="preview"}}
</div>
